<div {{ attributes.defaults(stimulus_controller('issue')) }}>

<div class="card">
        <div class="card-header">{{ issue.id }}</div>
        <div class="card-body">
            <div class="card-title">
                {% if isEditingSummary %}
                    <div class="input-group">
                        <input aria-label="Issue Summary" type="text" class="form-control" data-model="issue.summary">
                        <button
                                class="btn btn-outline-secondary"
                                data-action="live#action"
                                data-action-name="saveSummary"
                                type="button">
                            Valider
                        </button>
                    </div>
                {% else %}
                    <div class="d-inline flex">
                        <span class="h5">{{ issue.summary }}</span>
                        <button class="btn" data-action="live#action" data-action-name="activateEditingSummary">
                            <i class="fas fa-edit"></i>
                        </button>
                    </div>
                {% endif %}
            </div>

            <div class="issue-buttons my-3">
                <button class="btn btn-sm btn-primary" {{ stimulus_action('issue', 'addAttachment') }}>
                    <i class="fas fa-paperclip"></i>&nbsp;Attach
                </button>
                <input id="inputAttachment" class="d-none" type="file">
            </div>

            <div class="issue-attachments">
                <p class="card-text fw-bold">Attachments</p>
                <hr>
                <div class="overflow-x-auto container-fluid">
                    <div class="flex-row flex-nowrap mb-3 row">
                        {% for attachment in attachments %}
                            <div class="col-sm-4">
                                <div class="card-attachment cursor-pointer h-100 card">
                                    <img alt="{{ attachment.originalName }}" class="card-img-top object-fit-cover" height="96" src="{{ attachment.path }}" width="96">
                                    <div class="text-center p-2 card-body"><small>{{ attachment.originalName }}</small></div>
                                    <div class="text-center card-footer"><small>{{ attachment.createdAt|date('d/m/Y') }}</small></div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>