<div {{ attributes.defaults(stimulus_controller('issue')) }}>

	<div class="card">
		<div class="card-header">{{ issue.id }}</div>
		<div class="card-body">
			<div class="card-title">
				{% if isEditingSummary %}
					<div class="input-group">
						<input aria-label="Issue Summary" type="text" class="form-control" data-model="issue.summary">
						<button class="btn btn-outline-primary" {{ live_action('saveSummary') }}>
							<i class="fas fa-save"></i>&nbsp;Save
						</button>
					</div>
				{% else %}
					<div class="issue-summary">
						<a class="h5 text-primary" href="{{ path('issue_show', { 'id': issue.id }) }}" target="_blank">{{ issue.summary }}</a>&nbsp;
						<button class="btn btn-sm btn-outline-primary" {{ live_action('activateEditingSummary') }}>
							<i class="fas fa-edit"></i>
						</button>
					</div>
				{% endif %}
			</div>

			<p class="fw-bold card-text">
				Description&nbsp;
			</p>

			<hr>

			<div class="issue-description">
				{% if isEditingDescription %}
					<textarea aria-label="Issue Description" class="form-control" data-model="issue.description">{{ issue.description }}</textarea>
					<div class="mt-3 text-end">
						<button class="btn btn-sm btn-primary" {{ live_action('saveDescription') }}>Enregistrer</button>
						<button class="btn btn-sm btn-outline-secondary" {{ live_action('deactivateEditingDescription') }}>Annuler</button>
					</div>
				{% else %}
					<div id="issueDescription" class="card-text" style="min-height: 100px;" title="Cliquer pour modifier">
						<p>{{ issue.description|raw }}</p>
					</div>
					<button class="d-none" id="buttonActivateEditingDescription" {{ live_action('activateEditingDescription') }}></button>
				{% endif %}
			</div>


			<div class="issue-attachments">
				<p class="card-text fw-bold">Attachments</p>

				<hr>

				<div class="input-group mb-3">
					<input class="form-control" id="inputAttachment" name="attachment" type="file">
					<button class="btn btn-outline-primary" {{ live_action('files(attachment)|addAttachment') }} disabled id="buttonAttach" type="button">
						<i class="fas fa-paperclip"></i>&nbsp;Attach
					</button>
				</div>

				<div class="overflow-x-auto container-fluid">
					<div class="flex-row flex-nowrap mb-3 row">
						{% for attachment in attachments %}
							<div class="col-sm-4">
								<a href="{{ asset(attachment.path) }}" target="_blank">
									<div class="card-attachment cursor-pointer h-100 card">
										<button class="btn btn-sm btn-outline-danger button-delete-attachment text-dark z-3"
												href="#"
												data-action="live#action"
												data-live-action-param="deleteAttachment"
												data-live-id-param="{{ attachment.id }}"
												title="Supprimer"
										>
											<i class="fas fa-trash"></i>
										</button>

										{% if asset(attachment.path)|is_image %}
											<img alt="{{ attachment.originalName }}"
												 class="card-img-top issue-image object-fit-cover"
												 height="96"
												 src="{{ attachment.path }}"
												 width="96"
											>
										{% endif %}

										<div class="text-center p-2 card-body">
											<small>{{ attachment.originalName }}</small>
										</div>
										<div class="text-center card-footer">
											<small>{{ attachment.createdAt|date('d/m/Y') }}</small>
										</div>
									</div>
								</a>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
