<div {{ attributes.defaults(stimulus_controller('issue')) }}>

<div class="card">
        <div class="card-header">{{ issue.id }}</div>
        <div class="card-body">

            <div class="card-title">
                {% if isEditingSummary %}
                    <div class="input-group">
                        <input aria-label="Issue Summary" type="text" class="form-control" data-model="issue.summary">
                        <button
                                class="btn btn-outline-primary"
                                {{ live_action('saveSummary') }}
                                type="button">
                            <i class="fas fa-save"></i>&nbsp;Save
                        </button>
                    </div>
                {% else %}
                    <div class="d-inline flex">
                        <span class="h5">{{ issue.summary }}</span>
                        <button class="btn" {{ live_action('activateEditingSummary') }}>
                            <i class="fas fa-edit"></i>
                        </button>
                    </div>
                {% endif %}
            </div>

            <div class="issue-buttons my-3">
                <div class="input-group">
                    <input class="form-control" id="inputAttachment" name="attachment" type="file">
                    <button class="btn btn-outline-primary"
                            {{ live_action('files(attachment)|addAttachment') }}
                            disabled
                            id="buttonAttach"
                            type="button"
                    >
                        <i class="fas fa-paperclip"></i>&nbsp;Attach
                    </button>
                </div>
            </div>

            <p class="fw-bold card-text">Description</p>

            <hr>

            <div class="issue-description">

            </div>


            <div class="issue-attachments">
                <p class="card-text fw-bold">Attachments</p>

                <hr>

                <div class="overflow-x-auto container-fluid">
                    <div class="flex-row flex-nowrap mb-3 row">
                        {% for attachment in attachments %}
                            <div class="col-sm-4">
                                <div class="card-attachment cursor-pointer h-100 card">

                                    <button
                                            class="btn btn-sm button-delete-attachment text-dark"
                                            href="#"
                                            {{ live_action('deleteAttachment', { attachmentId: attachment.id }) }}
                                            title="Supprimer"
                                    >
                                        <i class="fas fa-trash"></i>
                                    </button>

                                    {% if asset(attachment.path)|is_image %}
                                        <img alt="{{ attachment.originalName }}" class="card-img-top object-fit-cover" height="96" src="{{ attachment.path }}" width="96">
                                    {% endif %}

                                    <div class="text-center p-2 card-body">
                                        <small>{{ attachment.originalName }}</small>
                                    </div>
                                    <div class="text-center card-footer">
                                        <small>{{ attachment.createdAt|date('d/m/Y') }}</small>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>