<div {{ attributes.defaults(stimulus_controller('project-board')) }} class="row">
    <div class="col-md-4 col-sm-12 ">
        <div  class="card">
            <div class="card-header fw-bold text-center text-uppercase">Prêt</div>
            <div class="card-body">
                <div class="list-group issue-container pb-4" data-status="2">
                    {% for issue in nonStartedIssues %}
                        <button class="list-group-item list-group-item-action issue-item" draggable="true" id="{{ issue.id }}">
                            <span class="fw-bold">{{ issue.id }}</span>
                            <br>
                            <span class="small">{{ issue.summary }}</span>
                        </button>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div  class="card">
            <div class="card-header fw-bold text-center text-uppercase">En développement</div>
            <div class="card-body">
                <div class="list-group issue-container pb-4" data-status="3">
                    {% for issue in inProgressIssues %}
                        <button class="list-group-item list-group-item-action issue-item" draggable="true" id="{{ issue.id }}">
                            <span class="fw-bold">{{ issue.id }}</span>
                            <br>
                            <span class="small">{{ issue.summary }}</span>
                        </button>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div  class="card">
            <div class="card-header fw-bold text-center text-uppercase">Résolu</div>
            <div class="card-body">
                <div class="list-group issue-container pb-4" data-status="5">
                    {% for issue in resolvedIssues %}
                        <button class="list-group-item list-group-item-action issue-item" draggable="true" id="{{ issue.id }}">
                            <span class="fw-bold">{{ issue.id }}</span>
                            <br>
                            <span class="small">{{ issue.summary }}</span>
                        </button>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>