<div {{ attributes}} >
    {% if projects|length == 0 %}
        <div class="mt-5 text-center">
            <h5 class="fw-bold">You currently have no projects</h5>
            <p>Let's create your first project in TaskSphere</p>
            <button class="btn btn-primary" data-bs-target="#modalCreateProject" data-bs-toggle="modal">Create project</button>
        </div>
    {% else %}
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th class="w-50">Name</th>
                <th class="w-25">Key</th>
                <th class="w-25">Lead</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                    <tr>
                        <td>{{ project.name }}</td>
                        <td>{{ project.key }}</td>
                        <td>{{ project.lead }}</td>
                        <td>
                            <button class="btn btn-sm btn-danger"
                                    {{ live_action('deleteProject', { id: project.id }) }}
                                    title="Supprimer">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
