<table {{ attributes}} class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Key</th>
            <th>Lead</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.name }}</td>
                <td>{{ project.key }}</td>
                <td>{{ project.lead }}</td>
                <td>
                    <button class="btn btn-sm btn-danger"
                            {{ live_action('deleteProject', { id: project.id }) }}
                            title="Supprimer">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>