<div {{ attributes }}>
    <select aria-label="Issue Assignee"
            class="form-select"
            data-action="live#action"
            data-action-name="updateAssignee"
            data-model="assignee"
    >
        {% for person in people %}
            {% if issue.assignee.id == person.value %}
                <option value="{{ person.value }}" selected>{{ person.label }}</option>
            {% else %}
                <option value="{{ person.value }}">{{ person.label }}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>